<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_LOG_CHARSET">UTF-8</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd'T'HH:mm:ss.SSSXXX</Property>
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${sys:LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="FILE_LOG_PATTERN">%d{${sys:LOG_DATEFORMAT_PATTERN}} ${sys:LOG_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    </Properties>
    <appenders>
        <RollingFile name="RollingFile" fileName="${sys:user.home}/.wpimport/logs/wpimport.log"
                     filePattern="${sys:user.home}/.wpimport/logs/$${date:yyyy-MM}/mycore-app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%highlight{%d{ISO8601} %-5p %X{loginId} %c{1}: %m%n%ex}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" charset="${sys:CONSOLE_LOG_CHARSET}"/>
            <filters>
                <ThresholdFilter level="${sys:CONSOLE_LOG_THRESHOLD:-TRACE}"/>
            </filters>
        </Console>
    </appenders>
    <loggers>
      <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
      <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
      <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
      <Logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
      <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
      <Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
      <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
      <Logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
      <Root level="info">
        <AppenderRef ref="Console" />
        <AppenderRef ref="RollingFile"/>
      </Root>
    </loggers>
</configuration>
